

.box {
  width: 80px;
  height: 80px;
  background: pink;
/* 非ホバー時もアニメーションさせたい場合は親要素に記述 */
  transition-property: transform;
  transition-duration: 1s;
}

.box:hover {
  transform: translateX(100px) rotate(45deg);
  /* transform: rotate(45deg) translateX(100px); */
}