

.box {
  width: 80px;
  height: 80px;
  background: pink;
  /* transition-property: transform; */
  /* transition-duration: 2s; */
  transition: transform 2s linear 1s;
}

.box:hover {
  transform: translateX(400px);
}